.version.about /* version checker */
{
	color: #0000ED;
	background-color: #8E3C92;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.75px;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -36px;
}

#pu11652
{
	width: 0.01px;
	padding-bottom: 34px;
	margin-left: -100px;
}

#u11652
{
	z-index: 71;
	height: 34px;
	border-color: #000000;
	background-color: #3F3F3F;
}

#u11652-bw
{
	z-index: 71;
	position: fixed;
	left: 0px;
	right: 0px;
	top: -36px;
}

#menuu11653
{
	z-index: 72;
	width: 402px;
	position: fixed;
	top: -36px;
	left: 532px;
}

#u11654
{
	width: 99px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
}

#u11657
{
	width: 99px;
	background-color: #3F3F3F;
	padding-bottom: 20px;
	position: relative;
}

#u11657:hover
{
	background-color: #F9C67A;
	margin: 0px;
}

#u11659
{
	height: 14px;
	width: 99px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	background: url("../images/u11659.png") no-repeat 0px 0px;
}

#u11657.MuseMenuActive #u11659
{
	background: url("../images/u11659-a.png") no-repeat 0px 0px;
}

#u11661
{
	width: 99px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 101px;
}

#u11664
{
	width: 99px;
	background-color: #3F3F3F;
	padding-bottom: 20px;
	position: relative;
}

#u11664:hover
{
	background-color: #F9C67A;
	margin: 0px;
}

#u11666
{
	height: 14px;
	width: 99px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	background: url("../images/u11666.png") no-repeat 0px 0px;
}

#u11664.MuseMenuActive #u11666
{
	background: url("../images/u11666-a.png") no-repeat 0px 0px;
}

#u11668
{
	width: 99px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 202px;
}

#u11669
{
	width: 99px;
	background-color: #3F3F3F;
	padding-bottom: 20px;
	position: relative;
}

#u11669.MuseMenuActive
{
	background-color: #FBB03B;
	margin: 0px;
}

#u11670-4
{
	position: relative;
	margin-right: -10000px;
	top: 10px;
	left: 0px;
}

#u11670-4_clip
{
	overflow: hidden;
	width: 99px;
	height: 14px;
	vertical-align: top;
}

#u11670-4_img
{
	display: block;
}

#u11675
{
	width: 99px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 303px;
}

#u11678
{
	width: 99px;
	background-color: #3F3F3F;
	padding-bottom: 20px;
	position: relative;
}

#u11678:hover
{
	background-color: #F9C67A;
	margin: 0px;
}

#u11657:active,#u11664:active,#u11678:active
{
	background-color: #F99C18;
	margin: 0px;
}

#u11680
{
	height: 14px;
	width: 99px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	background: url("../images/u11680.png") no-repeat 0px 0px;
}

#u11678.MuseMenuActive #u11680
{
	background: url("../images/u11680-a.png") no-repeat 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#pu4297
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 86px;
}

#u4297
{
	z-index: 31;
	width: 262px;
	position: relative;
	margin-right: -10000px;
}

#u4297_img
{
	padding-bottom: 1px;
}

#u4766-19
{
	z-index: 33;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 299px;
}

#u6158
{
	z-index: 62;
	width: 920px;
	margin-left: 20px;
	margin-top: 20px;
	position: relative;
}

#u6159
{
	z-index: 63;
	width: 920px;
	border-color: #000000;
	background-color: #6F7D80;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u6160-4
{
	z-index: 64;
	width: 223px;
	min-height: 24px;
	line-height: 29px;
	font-size: 24px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 349px;
}

#ppu6141
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 40px;
}

#pu6141
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 313px;
}

#u6141
{
	z-index: 21;
	width: 296px;
	position: relative;
	margin-right: -10000px;
	margin-top: -5px;
}

#u6143
{
	z-index: 22;
	width: 136px;
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 2px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
	border-width: 5px;
	border-style: solid;
	border-color: #F7931E;
	background-color: transparent;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	margin-left: 75px;
	position: relative;
}

#u6143_img
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 2px;
}

#u6142-7
{
	z-index: 24;
	display: block;
	vertical-align: top;
	margin-top: 72px;
	position: relative;
}

#u6162
{
	z-index: 69;
	width: 292px;
	height: 2px;
	border-color: #000000;
	background-color: #6F7D80;
	position: relative;
	margin-right: -10000px;
	margin-top: 171px;
}

#u6137
{
	z-index: 11;
	width: 296px;
	position: relative;
	margin-right: -10000px;
	margin-top: -5px;
}

#u6138
{
	z-index: 12;
	width: 136px;
	border-width: 5px;
	border-style: solid;
	margin-left: 74px;
	position: relative;
}

.Style
{
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 2px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
	border-width: 5px;
	border-style: solid;
	border-color: #F7931E;
	background-color: transparent;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
}

#u6138_img
{
	padding-top: 1px;
	padding-bottom: 1px;
}

#u6140-7
{
	z-index: 14;
	display: block;
	vertical-align: top;
	margin-top: 72px;
	position: relative;
}

#u6145
{
	z-index: 52;
	width: 292px;
	position: relative;
	margin-right: -10000px;
	margin-top: -5px;
	left: 626px;
}

#u6147
{
	z-index: 53;
	width: 136px;
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 2px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
	border-width: 5px;
	border-style: solid;
	border-color: #F7931E;
	background-color: transparent;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	margin-left: 73px;
	position: relative;
}

#u6143 .clip_frame,.Style .clip_frame,#u6147 .clip_frame
{
	-webkit-border-radius: 95px 95px 95px 95px;
}

#u6147_img
{
	padding: 30px 6px 31px 4px;
}

#u6146-7
{
	z-index: 55;
	display: block;
	vertical-align: top;
	margin-top: 72px;
	position: relative;
}

#u6161
{
	z-index: 68;
	width: 292px;
	height: 2px;
	border-color: #000000;
	background-color: #6F7D80;
	position: relative;
	margin-right: -10000px;
	margin-top: 171px;
}

#u6163
{
	z-index: 70;
	width: 292px;
	height: 2px;
	border-color: #000000;
	background-color: #6F7D80;
	position: relative;
	margin-right: -10000px;
	margin-top: 170px;
	left: 624px;
}

#pu11389
{
	width: 0.01px;
	margin-top: 44px;
}

#u11389
{
	z-index: 2;
	width: 960px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u11390-4
{
	z-index: 3;
	width: 314px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 21px;
}

#u11391-4
{
	z-index: 7;
	width: 293px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 333px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

