.version.family_01 /* version checker */
{
	color: #00000F;
	background-color: #264704;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	margin-left: auto;
	margin-right: auto;
}

#u6961
{
	z-index: 133;
	height: 34px;
	border-color: #000000;
	background-color: #3F3F3F;
}

#u6961-bw
{
	z-index: 133;
	position: fixed;
	left: 0px;
	right: 0px;
	top: -36px;
}

#paccordionu2186
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 20px;
}

#accordionu2186
{
	z-index: 2;
	width: 183px;
	margin-right: -10000px;
}

#u2205
{
	z-index: 3;
	width: 183px;
}

#u2206-4
{
	z-index: 4;
	width: 171px;
	min-height: 18px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u2206-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	width: 171px;
	margin: 0px;
}

#u2206-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	width: 171px;
	margin: 0px;
}

#u2207
{
	z-index: 8;
	width: 113px;
	padding: 9px 26px 10.150000000000006px 42px;
}

#u2209-4
{
	z-index: 9;
	width: 113px;
	min-height: 19px;
}

#u2208-4
{
	z-index: 13;
	width: 113px;
	min-height: 19px;
	margin-top: 6px;
}

#u2200
{
	z-index: 17;
	width: 183px;
}

#u2201-4
{
	z-index: 18;
	width: 171px;
	min-height: 18px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u2206-4.AccordionPanelTabOpen,#u2201-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	width: 171px;
	margin: 0px;
}

#u2201-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	width: 171px;
	margin: 0px;
}

#u2202
{
	z-index: 22;
	width: 113px;
	padding: 7px 26px 7.150000000000091px 42px;
}

#u2204-4
{
	z-index: 23;
	width: 113px;
	min-height: 19px;
}

#u2203-4
{
	z-index: 27;
	width: 113px;
	min-height: 19px;
	margin-top: 6px;
}

#u2210
{
	z-index: 31;
	width: 183px;
}

#u2211-4
{
	z-index: 32;
	width: 171px;
	min-height: 18px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u2201-4.AccordionPanelTabOpen,#u2211-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	width: 171px;
	margin: 0px;
}

#u2211-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	width: 171px;
	margin: 0px;
}

#u2212
{
	z-index: 36;
	width: 113px;
	padding: 6px 26px 0px 42px;
}

#u2213-4
{
	z-index: 37;
	width: 113px;
	min-height: 19px;
}

#u2214-4
{
	z-index: 41;
	width: 113px;
	min-height: 19px;
	margin-top: 6px;
}

#u2208-4.MuseLinkActive,#u2203-4.MuseLinkActive,#u2214-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 6px 0px 0px;
}

#u2187
{
	z-index: 45;
	width: 183px;
}

#u2188-4
{
	z-index: 46;
	width: 171px;
	min-height: 18px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u2211-4.AccordionPanelTabOpen,#u2188-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	width: 171px;
	margin: 0px;
}

#u2188-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	width: 171px;
	margin: 0px;
}

#u2189
{
	z-index: 50;
	width: 113px;
	padding: 5px 26px 1px 42px;
}

#u2191-4
{
	z-index: 51;
	width: 113px;
	min-height: 19px;
}

#u2192-4
{
	z-index: 55;
	width: 113px;
	min-height: 19px;
	margin-top: 1px;
}

#u2190-4
{
	z-index: 59;
	width: 113px;
	min-height: 19px;
}

#u2193-4
{
	z-index: 63;
	width: 113px;
	min-height: 19px;
	top: -1px;
	margin-bottom: -1px;
}

#u2193-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px 0px -1px;
}

#u2194
{
	z-index: 67;
	width: 183px;
}

#u2195-4
{
	z-index: 68;
	width: 171px;
	min-height: 18px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u2188-4.AccordionPanelTabOpen,#u2195-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	width: 171px;
	margin: 0px;
}

#u2195-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	width: 171px;
	margin: 0px;
}

#u2195-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	width: 171px;
	margin: 0px;
}

#u2196
{
	z-index: 72;
	width: 113px;
	padding: 5px 26px 8.350000000000051px 42px;
}

#u2197-4
{
	z-index: 73;
	width: 113px;
	min-height: 19px;
}

#u2199-4
{
	z-index: 77;
	width: 113px;
	min-height: 19px;
}

#u2209-4.MuseLinkActive,#u2204-4.MuseLinkActive,#u2213-4.MuseLinkActive,#u2191-4.MuseLinkActive,#u2190-4.MuseLinkActive,#u2197-4.MuseLinkActive,#u2199-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px;
}

#u2198-4
{
	z-index: 81;
	width: 113px;
	min-height: 19px;
	margin-top: 1px;
}

#u2192-4.MuseLinkActive,#u2198-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 1px 0px 0px;
}

#slideshowu6862
{
	z-index: 98;
	width: 0.01px;
	height: 592px;
	position: relative;
	margin-right: -10000px;
	margin-top: 80px;
	left: 183px;
}

#u6911
{
	position: absolute;
	width: 613px;
	height: 588px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0, 0, 0, 0.9);
	top: -498px;
	left: 838px;
	-pie-background: rgba(0, 0, 0, 0.9);
}

#u6911popup
{
	z-index: 99;
}

#u7044
{
	z-index: 100;
	width: 569px;
	height: 526px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u7044_img
{
	padding-top: 59px;
	padding-bottom: 59px;
}

#u7056
{
	z-index: 102;
	width: 569px;
	height: 526px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u7068
{
	z-index: 104;
	width: 569px;
	height: 526px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u7080
{
	z-index: 106;
	width: 569px;
	height: 526px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u7080_img
{
	padding-top: 49px;
	padding-bottom: 49px;
}

#u7092
{
	z-index: 108;
	width: 569px;
	height: 526px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u7056_img,#u7068_img,#u7092_img
{
	padding-left: 109px;
	padding-right: 109px;
}

#u7104
{
	z-index: 110;
	width: 569px;
	height: 526px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u7104_img
{
	padding-top: 70px;
	padding-bottom: 70px;
}

#u6934
{
	position: absolute;
	width: 757px;
	padding-bottom: 202px;
}

#u6934popup
{
	z-index: 112;
}

#u7047
{
	z-index: 113;
	width: 167px;
	height: 188px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 29px;
}

#u7047_img
{
	padding-top: 34px;
	padding-bottom: 34px;
}

#u7059
{
	z-index: 115;
	width: 167px;
	height: 188px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 206px;
}

#u7071
{
	z-index: 117;
	width: 167px;
	height: 188px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 383px;
}

#u7083
{
	z-index: 119;
	width: 167px;
	height: 188px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 560px;
}

#u7047:hover,#u7059:hover,#u7071:hover,#u7083:hover
{
	margin: 4px -10000px 0px 0px;
}

#u7083_img
{
	padding-top: 31px;
	padding-bottom: 31px;
}

#u7095
{
	z-index: 121;
	width: 167px;
	height: 188px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 202px;
	left: 29px;
}

#u7059_img,#u7071_img,#u7095_img
{
	padding-left: 21px;
	padding-right: 21px;
}

#u7107
{
	z-index: 123;
	width: 167px;
	height: 188px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 202px;
	left: 206px;
}

#u7095:hover,#u7107:hover
{
	margin: 202px -10000px 0px 0px;
}

#u7107_img
{
	padding-top: 37px;
	padding-bottom: 38px;
}

#u6865-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: #7F7F7F;
	opacity: 0.45;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
	filter: alpha(opacity=45);
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 60px;
	left: 1104px;
}

#u6865-4popup
{
	z-index: 125;
}

#u6957-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: #7F7F7F;
	opacity: 0.45;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
	filter: alpha(opacity=45);
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 60px;
	left: 1155px;
}

#u6957-4popup
{
	z-index: 129;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u6991-4
{
	z-index: 94;
	width: 768px;
	min-height: 42px;
	background-color: #7F7F7F;
	color: #FFFFFF;
	line-height: 43px;
	font-size: 36px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 192px;
}

#menuu6962
{
	z-index: 134;
	width: 402px;
	position: fixed;
	top: -36px;
	left: 532px;
}

#u6977
{
	width: 99px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
}

#u6980
{
	width: 99px;
	background-color: #3F3F3F;
	padding-bottom: 20px;
	position: relative;
}

#u6980:hover
{
	background-color: #F9C67A;
	margin: 0px;
}

#u6981
{
	height: 14px;
	width: 99px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	background: url("../images/u6981.png") no-repeat 0px 0px;
}

#u6980.MuseMenuActive #u6981
{
	background: url("../images/u6981-a.png") no-repeat 0px 0px;
}

#u6970
{
	width: 99px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 101px;
}

#u6971
{
	width: 99px;
	background-color: #3F3F3F;
	padding-bottom: 20px;
	position: relative;
}

#u6971:hover
{
	background-color: #F9C67A;
	margin: 0px;
}

#u6974
{
	height: 14px;
	width: 99px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	background: url("../images/u6974.png") no-repeat 0px 0px;
}

#u6971.MuseMenuActive #u6974
{
	background: url("../images/u6974-a.png") no-repeat 0px 0px;
}

#u6963
{
	width: 99px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 202px;
}

#u6966
{
	width: 99px;
	background-color: #3F3F3F;
	padding-bottom: 20px;
	position: relative;
}

#u6966:hover
{
	background-color: #F9C67A;
	margin: 0px;
}

#u6968
{
	height: 14px;
	width: 99px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	background: url("../images/u6968.png") no-repeat 0px 0px;
}

#u6966.MuseMenuActive #u6968
{
	background: url("../images/u6968-a.png") no-repeat 0px 0px;
}

#u6984
{
	width: 99px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 303px;
}

#u6985
{
	width: 99px;
	background-color: #3F3F3F;
	padding-bottom: 20px;
	position: relative;
}

#u6985:hover
{
	background-color: #F9C67A;
	margin: 0px;
}

#u6980:active,#u6971:active,#u6966:active,#u6985:active
{
	background-color: #F99C18;
	margin: 0px;
}

#u6988
{
	height: 14px;
	width: 99px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	background: url("../images/u6988.png") no-repeat 0px 0px;
}

#u6985.MuseMenuActive #u6988
{
	background: url("../images/u6988-a.png") no-repeat 0px 0px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.MenuItem /* slideshowFreeStyle */
{
	cursor: pointer;
}

#pu4738
{
	width: 0.01px;
	margin-bottom: -36px;
	margin-right: -10000px;
	margin-top: 736px;
}

#u4738
{
	z-index: 85;
	width: 960px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u4739-4
{
	z-index: 86;
	width: 314px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 21px;
}

#u4740-4
{
	z-index: 90;
	width: 293px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 333px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -736px;
}

