#accordionu2186
{
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 2px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
}

#u2206-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #6F7D80;
	color: #FFFFFF;
	line-height: 18px;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	position: relative;
}

#u2206-4:hover
{
	background-color: #F7B46E;
}

#u2206-4:active
{
	background-color: #F7B46E;
}

#u2209-4
{
	background-color: transparent;
	position: relative;
}

#u2208-4
{
	background-color: transparent;
	position: relative;
}

#u2201-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #6F7D80;
	color: #FFFFFF;
	line-height: 18px;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	position: relative;
}

#u2201-4:hover
{
	background-color: #F7B46E;
}

#u2201-4:active
{
	background-color: #F7B46E;
}

#u2204-4
{
	background-color: transparent;
	position: relative;
}

#u2203-4
{
	background-color: transparent;
	position: relative;
}

#u2211-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #6F7D80;
	color: #FFFFFF;
	line-height: 18px;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	position: relative;
}

#u2211-4:hover
{
	background-color: #F7B46E;
}

#u2211-4:active
{
	background-color: #F7B46E;
}

#u2213-4
{
	background-color: transparent;
	position: relative;
}

#u2214-4
{
	background-color: transparent;
	position: relative;
}

#u2188-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #6F7D80;
	color: #FFFFFF;
	line-height: 18px;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	position: relative;
}

#u2188-4:hover
{
	background-color: #F7B46E;
}

#u2188-4:active
{
	background-color: #F7B46E;
}

#u2191-4
{
	background-color: transparent;
	position: relative;
}

#u2192-4
{
	background-color: transparent;
	position: relative;
}

#u2190-4
{
	background-color: transparent;
	position: relative;
}

#u2193-4
{
	background-color: transparent;
	position: relative;
}

#u2205,#u2200,#u2210,#u2187,#u2194
{
	position: relative;
}

#u2195-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #6F7D80;
	color: #FFFFFF;
	line-height: 18px;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	position: relative;
}

#u2195-4:hover
{
	background-color: #F7B46E;
}

#u2195-4:active
{
	background-color: #F7B46E;
}

#u2206-4.AccordionPanelTabOpen,#u2201-4.AccordionPanelTabOpen,#u2211-4.AccordionPanelTabOpen,#u2188-4.AccordionPanelTabOpen,#u2195-4.AccordionPanelTabOpen
{
	background-color: #F7931E;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
}

#u2206-4.AccordionPanelTabOpen p,#u2201-4.AccordionPanelTabOpen p,#u2211-4.AccordionPanelTabOpen p,#u2188-4.AccordionPanelTabOpen p,#u2195-4.AccordionPanelTabOpen p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2207,#u2202,#u2212,#u2189,#u2196
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
}

#u2197-4
{
	background-color: transparent;
	position: relative;
}

#u2199-4
{
	background-color: transparent;
	position: relative;
}

#u2198-4
{
	background-color: transparent;
	position: relative;
}

#u2209-4.MuseLinkActive p,#u2208-4.MuseLinkActive p,#u2204-4.MuseLinkActive p,#u2203-4.MuseLinkActive p,#u2213-4.MuseLinkActive p,#u2214-4.MuseLinkActive p,#u2191-4.MuseLinkActive p,#u2192-4.MuseLinkActive p,#u2190-4.MuseLinkActive p,#u2193-4.MuseLinkActive p,#u2197-4.MuseLinkActive p,#u2199-4.MuseLinkActive p,#u2198-4.MuseLinkActive p
{
	color: #F15A24;
	visibility: inherit;
}

.AccordionPanelTab /* accordion */
{
	cursor: pointer;
}

#u4738
{
	border-color: #000000;
	background-color: #7F7F7F;
	position: relative;
}

#u4739-4,#u4740-4
{
	line-height: 14px;
	font-size: 12px;
	color: #FFFFFF;
	position: relative;
}

