.version.model_03 /* version checker */
{
	color: #0000E2;
	background-color: #565D55;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	margin-left: auto;
	margin-right: auto;
}

#u8123
{
	z-index: 153;
	height: 34px;
	border-color: #000000;
	background-color: #3F3F3F;
}

#u8123-bw
{
	z-index: 153;
	position: fixed;
	left: 0px;
	right: 0px;
	top: -36px;
}

#paccordionu2186
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 20px;
}

#accordionu2186
{
	z-index: 2;
	width: 183px;
	margin-right: -10000px;
}

#u2205
{
	z-index: 3;
	width: 183px;
}

#u2206-4
{
	z-index: 4;
	width: 171px;
	min-height: 18px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u2206-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	width: 171px;
	margin: 0px;
}

#u2206-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	width: 171px;
	margin: 0px;
}

#u2207
{
	z-index: 8;
	width: 113px;
	padding: 9px 26px 10.150000000000006px 42px;
}

#u2209-4
{
	z-index: 9;
	width: 113px;
	min-height: 19px;
}

#u2208-4
{
	z-index: 13;
	width: 113px;
	min-height: 19px;
	margin-top: 6px;
}

#u2200
{
	z-index: 17;
	width: 183px;
}

#u2201-4
{
	z-index: 18;
	width: 171px;
	min-height: 18px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u2206-4.AccordionPanelTabOpen,#u2201-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	width: 171px;
	margin: 0px;
}

#u2201-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	width: 171px;
	margin: 0px;
}

#u2202
{
	z-index: 22;
	width: 113px;
	padding: 7px 26px 7.150000000000091px 42px;
}

#u2204-4
{
	z-index: 23;
	width: 113px;
	min-height: 19px;
}

#u2203-4
{
	z-index: 27;
	width: 113px;
	min-height: 19px;
	margin-top: 6px;
}

#u2210
{
	z-index: 31;
	width: 183px;
}

#u2211-4
{
	z-index: 32;
	width: 171px;
	min-height: 18px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u2201-4.AccordionPanelTabOpen,#u2211-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	width: 171px;
	margin: 0px;
}

#u2211-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	width: 171px;
	margin: 0px;
}

#u2212
{
	z-index: 36;
	width: 113px;
	padding: 6px 26px 0px 42px;
}

#u2213-4
{
	z-index: 37;
	width: 113px;
	min-height: 19px;
}

#u2214-4
{
	z-index: 41;
	width: 113px;
	min-height: 19px;
	margin-top: 6px;
}

#u2208-4.MuseLinkActive,#u2203-4.MuseLinkActive,#u2214-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 6px 0px 0px;
}

#u2187
{
	z-index: 45;
	width: 183px;
}

#u2188-4
{
	z-index: 46;
	width: 171px;
	min-height: 18px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u2211-4.AccordionPanelTabOpen,#u2188-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	width: 171px;
	margin: 0px;
}

#u2188-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	width: 171px;
	margin: 0px;
}

#u2189
{
	z-index: 50;
	width: 113px;
	padding: 5px 26px 1px 42px;
}

#u2191-4
{
	z-index: 51;
	width: 113px;
	min-height: 19px;
}

#u2192-4
{
	z-index: 55;
	width: 113px;
	min-height: 19px;
	margin-top: 1px;
}

#u2190-4
{
	z-index: 59;
	width: 113px;
	min-height: 19px;
}

#u2193-4
{
	z-index: 63;
	width: 113px;
	min-height: 19px;
	top: -1px;
	margin-bottom: -1px;
}

#u2193-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px 0px -1px;
}

#u2194
{
	z-index: 67;
	width: 183px;
}

#u2195-4
{
	z-index: 68;
	width: 171px;
	min-height: 18px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u2188-4.AccordionPanelTabOpen,#u2195-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	width: 171px;
	margin: 0px;
}

#u2195-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	width: 171px;
	margin: 0px;
}

#u2195-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	width: 171px;
	margin: 0px;
}

#u2196
{
	z-index: 72;
	width: 113px;
	padding: 5px 26px 8.350000000000051px 42px;
}

#u2197-4
{
	z-index: 73;
	width: 113px;
	min-height: 19px;
}

#u2199-4
{
	z-index: 77;
	width: 113px;
	min-height: 19px;
}

#u2209-4.MuseLinkActive,#u2204-4.MuseLinkActive,#u2213-4.MuseLinkActive,#u2191-4.MuseLinkActive,#u2190-4.MuseLinkActive,#u2197-4.MuseLinkActive,#u2199-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px;
}

#u2198-4
{
	z-index: 81;
	width: 113px;
	min-height: 19px;
	margin-top: 1px;
}

#u2192-4.MuseLinkActive,#u2198-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 1px 0px 0px;
}

#slideshowu8064
{
	z-index: 98;
	width: 0.01px;
	height: 592px;
	position: relative;
	margin-right: -10000px;
	margin-top: 80px;
	left: 183px;
}

#u8067
{
	position: absolute;
	width: 613px;
	height: 588px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0, 0, 0, 0.9);
	top: -498px;
	left: 838px;
	-pie-background: rgba(0, 0, 0, 0.9);
}

#u8067popup
{
	z-index: 99;
}

#u8070
{
	z-index: 100;
	width: 569px;
	height: 526px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u8223
{
	z-index: 102;
	width: 569px;
	height: 526px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u8223_img
{
	padding-left: 108px;
	padding-right: 108px;
}

#u8235
{
	z-index: 104;
	width: 569px;
	height: 526px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u8247
{
	z-index: 106;
	width: 569px;
	height: 526px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u8247_img
{
	padding-left: 97px;
	padding-right: 97px;
}

#u8259
{
	z-index: 108;
	width: 569px;
	height: 526px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u8070_img,#u8235_img,#u8259_img
{
	padding-left: 109px;
	padding-right: 109px;
}

#u8271
{
	z-index: 110;
	width: 569px;
	height: 526px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u8271_img
{
	padding-left: 94px;
	padding-right: 94px;
}

#u8283
{
	z-index: 112;
	width: 569px;
	height: 526px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u8283_img
{
	padding-left: 108px;
	padding-right: 109px;
}

#u8295
{
	z-index: 114;
	width: 569px;
	height: 526px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u8295_img
{
	padding-left: 114px;
	padding-right: 113px;
}

#u8307
{
	z-index: 116;
	width: 569px;
	height: 526px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u8307_img
{
	padding-left: 114px;
	padding-right: 115px;
}

#u8319
{
	z-index: 118;
	width: 569px;
	height: 526px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u8319_img
{
	padding-left: 107px;
	padding-right: 107px;
}

#u8331
{
	z-index: 120;
	width: 569px;
	height: 526px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u8331_img
{
	padding-left: 52px;
	padding-right: 52px;
}

#u8108
{
	position: absolute;
	width: 757px;
	padding-bottom: 4px;
}

#u8108popup
{
	z-index: 122;
}

#u8117
{
	z-index: 123;
	width: 167px;
	height: 188px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 29px;
}

#u8226
{
	z-index: 125;
	width: 167px;
	height: 188px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 206px;
}

#u8226_img
{
	padding-left: 20px;
	padding-right: 21px;
}

#u8238
{
	z-index: 127;
	width: 167px;
	height: 188px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 383px;
}

#u8250
{
	z-index: 129;
	width: 167px;
	height: 188px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 560px;
}

#u8117:hover,#u8226:hover,#u8238:hover,#u8250:hover
{
	margin: 4px -10000px 0px 0px;
}

#u8250_img
{
	padding-left: 17px;
	padding-right: 16px;
}

#u8262
{
	z-index: 131;
	width: 167px;
	height: 188px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 202px;
	left: 29px;
}

#u8117_img,#u8238_img,#u8262_img
{
	padding-left: 21px;
	padding-right: 21px;
}

#u8274
{
	z-index: 133;
	width: 167px;
	height: 188px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 202px;
	left: 206px;
}

#u8274_img
{
	padding-left: 15px;
	padding-right: 16px;
}

#u8286
{
	z-index: 135;
	width: 167px;
	height: 188px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 202px;
	left: 383px;
}

#u8286_img
{
	padding-left: 21px;
	padding-right: 20px;
}

#u8298
{
	z-index: 137;
	width: 167px;
	height: 188px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 202px;
	left: 560px;
}

#u8262:hover,#u8274:hover,#u8286:hover,#u8298:hover
{
	margin: 202px -10000px 0px 0px;
}

#u8298_img
{
	padding-left: 22px;
	padding-right: 23px;
}

#u8310
{
	z-index: 139;
	width: 167px;
	height: 188px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 400px;
	left: 29px;
}

#u8310_img
{
	padding-left: 23px;
	padding-right: 22px;
}

#u8322
{
	z-index: 141;
	width: 167px;
	height: 188px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 400px;
	left: 206px;
}

#u8322_img
{
	padding-left: 20px;
	padding-right: 20px;
}

#u8334
{
	z-index: 143;
	width: 167px;
	height: 188px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 400px;
	left: 383px;
}

#u8310:hover,#u8322:hover,#u8334:hover
{
	margin: 400px -10000px 0px 0px;
}

#u8334_img
{
	padding-right: 1px;
}

#u8122-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: #7F7F7F;
	opacity: 0.45;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
	filter: alpha(opacity=45);
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 60px;
	left: 1104px;
}

#u8122-4popup
{
	z-index: 145;
}

#u8121-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: #7F7F7F;
	opacity: 0.45;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
	filter: alpha(opacity=45);
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 60px;
	left: 1155px;
}

#u8121-4popup
{
	z-index: 149;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u8153-4
{
	z-index: 94;
	width: 768px;
	min-height: 42px;
	background-color: #7F7F7F;
	color: #FFFFFF;
	line-height: 43px;
	font-size: 36px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 192px;
}

#menuu8124
{
	z-index: 154;
	width: 402px;
	position: fixed;
	top: -36px;
	left: 532px;
}

#u8125
{
	width: 99px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
}

#u8126
{
	width: 99px;
	background-color: #3F3F3F;
	padding-bottom: 20px;
	position: relative;
}

#u8126:hover
{
	background-color: #F9C67A;
	margin: 0px;
}

#u8129
{
	height: 14px;
	width: 99px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	background: url("../images/u8129.png") no-repeat 0px 0px;
}

#u8126.MuseMenuActive #u8129
{
	background: url("../images/u8129-a.png") no-repeat 0px 0px;
}

#u8139
{
	width: 99px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 101px;
}

#u8140
{
	width: 99px;
	background-color: #3F3F3F;
	padding-bottom: 20px;
	position: relative;
}

#u8140:hover
{
	background-color: #F9C67A;
	margin: 0px;
}

#u8143
{
	height: 14px;
	width: 99px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	background: url("../images/u8143.png") no-repeat 0px 0px;
}

#u8140.MuseMenuActive #u8143
{
	background: url("../images/u8143-a.png") no-repeat 0px 0px;
}

#u8132
{
	width: 99px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 202px;
}

#u8133
{
	width: 99px;
	background-color: #3F3F3F;
	padding-bottom: 20px;
	position: relative;
}

#u8133:hover
{
	background-color: #F9C67A;
	margin: 0px;
}

#u8134
{
	height: 14px;
	width: 99px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	background: url("../images/u8134.png") no-repeat 0px 0px;
}

#u8133.MuseMenuActive #u8134
{
	background: url("../images/u8134-a.png") no-repeat 0px 0px;
}

#u8146
{
	width: 99px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 303px;
}

#u8149
{
	width: 99px;
	background-color: #3F3F3F;
	padding-bottom: 20px;
	position: relative;
}

#u8149:hover
{
	background-color: #F9C67A;
	margin: 0px;
}

#u8126:active,#u8140:active,#u8133:active,#u8149:active
{
	background-color: #F99C18;
	margin: 0px;
}

#u8150
{
	height: 14px;
	width: 99px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	background: url("../images/u8150.png") no-repeat 0px 0px;
}

#u8149.MuseMenuActive #u8150
{
	background: url("../images/u8150-a.png") no-repeat 0px 0px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.MenuItem /* slideshowFreeStyle */
{
	cursor: pointer;
}

#pu4738
{
	width: 0.01px;
	margin-bottom: -36px;
	margin-right: -10000px;
	margin-top: 736px;
}

#u4738
{
	z-index: 85;
	width: 960px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u4739-4
{
	z-index: 86;
	width: 314px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 21px;
}

#u4740-4
{
	z-index: 90;
	width: 293px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 333px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -736px;
}

