.version.model_02 /* version checker */
{
	color: #0000E6;
	background-color: #52C351;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	margin-left: auto;
	margin-right: auto;
}

#u7903
{
	z-index: 141;
	height: 34px;
	border-color: #000000;
	background-color: #3F3F3F;
}

#u7903-bw
{
	z-index: 141;
	position: fixed;
	left: 0px;
	right: 0px;
	top: -36px;
}

#paccordionu2186
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 20px;
}

#accordionu2186
{
	z-index: 2;
	width: 183px;
	margin-right: -10000px;
}

#u2205
{
	z-index: 3;
	width: 183px;
}

#u2206-4
{
	z-index: 4;
	width: 171px;
	min-height: 18px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u2206-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	width: 171px;
	margin: 0px;
}

#u2206-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	width: 171px;
	margin: 0px;
}

#u2207
{
	z-index: 8;
	width: 113px;
	padding: 9px 26px 10.150000000000006px 42px;
}

#u2209-4
{
	z-index: 9;
	width: 113px;
	min-height: 19px;
}

#u2208-4
{
	z-index: 13;
	width: 113px;
	min-height: 19px;
	margin-top: 6px;
}

#u2200
{
	z-index: 17;
	width: 183px;
}

#u2201-4
{
	z-index: 18;
	width: 171px;
	min-height: 18px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u2206-4.AccordionPanelTabOpen,#u2201-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	width: 171px;
	margin: 0px;
}

#u2201-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	width: 171px;
	margin: 0px;
}

#u2202
{
	z-index: 22;
	width: 113px;
	padding: 7px 26px 7.150000000000091px 42px;
}

#u2204-4
{
	z-index: 23;
	width: 113px;
	min-height: 19px;
}

#u2203-4
{
	z-index: 27;
	width: 113px;
	min-height: 19px;
	margin-top: 6px;
}

#u2210
{
	z-index: 31;
	width: 183px;
}

#u2211-4
{
	z-index: 32;
	width: 171px;
	min-height: 18px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u2201-4.AccordionPanelTabOpen,#u2211-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	width: 171px;
	margin: 0px;
}

#u2211-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	width: 171px;
	margin: 0px;
}

#u2212
{
	z-index: 36;
	width: 113px;
	padding: 6px 26px 0px 42px;
}

#u2213-4
{
	z-index: 37;
	width: 113px;
	min-height: 19px;
}

#u2214-4
{
	z-index: 41;
	width: 113px;
	min-height: 19px;
	margin-top: 6px;
}

#u2208-4.MuseLinkActive,#u2203-4.MuseLinkActive,#u2214-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 6px 0px 0px;
}

#u2187
{
	z-index: 45;
	width: 183px;
}

#u2188-4
{
	z-index: 46;
	width: 171px;
	min-height: 18px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u2211-4.AccordionPanelTabOpen,#u2188-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	width: 171px;
	margin: 0px;
}

#u2188-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	width: 171px;
	margin: 0px;
}

#u2189
{
	z-index: 50;
	width: 113px;
	padding: 5px 26px 1px 42px;
}

#u2191-4
{
	z-index: 51;
	width: 113px;
	min-height: 19px;
}

#u2192-4
{
	z-index: 55;
	width: 113px;
	min-height: 19px;
	margin-top: 1px;
}

#u2190-4
{
	z-index: 59;
	width: 113px;
	min-height: 19px;
}

#u2193-4
{
	z-index: 63;
	width: 113px;
	min-height: 19px;
	top: -1px;
	margin-bottom: -1px;
}

#u2193-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px 0px -1px;
}

#u2194
{
	z-index: 67;
	width: 183px;
}

#u2195-4
{
	z-index: 68;
	width: 171px;
	min-height: 18px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u2188-4.AccordionPanelTabOpen,#u2195-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	width: 171px;
	margin: 0px;
}

#u2195-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	width: 171px;
	margin: 0px;
}

#u2195-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	width: 171px;
	margin: 0px;
}

#u2196
{
	z-index: 72;
	width: 113px;
	padding: 5px 26px 8.350000000000051px 42px;
}

#u2197-4
{
	z-index: 73;
	width: 113px;
	min-height: 19px;
}

#u2199-4
{
	z-index: 77;
	width: 113px;
	min-height: 19px;
}

#u2209-4.MuseLinkActive,#u2204-4.MuseLinkActive,#u2213-4.MuseLinkActive,#u2191-4.MuseLinkActive,#u2190-4.MuseLinkActive,#u2197-4.MuseLinkActive,#u2199-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px;
}

#u2198-4
{
	z-index: 81;
	width: 113px;
	min-height: 19px;
	margin-top: 1px;
}

#u2192-4.MuseLinkActive,#u2198-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 1px 0px 0px;
}

#slideshowu7844
{
	z-index: 98;
	width: 0.01px;
	height: 592px;
	position: relative;
	margin-right: -10000px;
	margin-top: 80px;
	left: 183px;
}

#u7847
{
	position: absolute;
	width: 613px;
	height: 588px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0, 0, 0, 0.9);
	top: -498px;
	left: 838px;
	-pie-background: rgba(0, 0, 0, 0.9);
}

#u7847popup
{
	z-index: 99;
}

#u7852
{
	z-index: 100;
	width: 569px;
	height: 526px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u7972
{
	z-index: 102;
	width: 569px;
	height: 526px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u7972_img
{
	padding-top: 73px;
	padding-bottom: 72px;
}

#u7984
{
	z-index: 104;
	width: 569px;
	height: 526px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u7984_img
{
	padding-top: 74px;
	padding-bottom: 74px;
}

#u7996
{
	z-index: 106;
	width: 569px;
	height: 526px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u7996_img
{
	padding-top: 81px;
	padding-bottom: 81px;
}

#u8008
{
	z-index: 108;
	width: 569px;
	height: 526px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u8020
{
	z-index: 110;
	width: 569px;
	height: 526px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u8032
{
	z-index: 112;
	width: 569px;
	height: 526px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u8020_img,#u8032_img
{
	padding-left: 105px;
	padding-right: 105px;
}

#u8044
{
	z-index: 114;
	width: 569px;
	height: 526px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u7852_img,#u8008_img,#u8044_img
{
	padding-left: 109px;
	padding-right: 109px;
}

#u7888
{
	position: absolute;
	width: 757px;
	padding-bottom: 202px;
}

#u7888popup
{
	z-index: 116;
}

#u7891
{
	z-index: 117;
	width: 167px;
	height: 188px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 29px;
}

#u7975
{
	z-index: 119;
	width: 167px;
	height: 188px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 206px;
}

#u7975_img
{
	padding-top: 38px;
	padding-bottom: 38px;
}

#u7987
{
	z-index: 121;
	width: 167px;
	height: 188px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 383px;
}

#u7987_img
{
	padding-top: 39px;
	padding-bottom: 38px;
}

#u7999
{
	z-index: 123;
	width: 167px;
	height: 188px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 560px;
}

#u7891:hover,#u7975:hover,#u7987:hover,#u7999:hover
{
	margin: 4px -10000px 0px 0px;
}

#u7999_img
{
	padding-top: 41px;
	padding-bottom: 40px;
}

#u8011
{
	z-index: 125;
	width: 167px;
	height: 188px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 202px;
	left: 29px;
}

#u8023
{
	z-index: 127;
	width: 167px;
	height: 188px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 202px;
	left: 206px;
}

#u8035
{
	z-index: 129;
	width: 167px;
	height: 188px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 202px;
	left: 383px;
}

#u8023_img,#u8035_img
{
	padding-left: 19px;
	padding-right: 20px;
}

#u8047
{
	z-index: 131;
	width: 167px;
	height: 188px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 202px;
	left: 560px;
}

#u8011:hover,#u8023:hover,#u8035:hover,#u8047:hover
{
	margin: 202px -10000px 0px 0px;
}

#u7891_img,#u8011_img,#u8047_img
{
	padding-left: 21px;
	padding-right: 21px;
}

#u7902-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: #7F7F7F;
	opacity: 0.45;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
	filter: alpha(opacity=45);
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 60px;
	left: 1104px;
}

#u7902-4popup
{
	z-index: 133;
}

#u7901-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: #7F7F7F;
	opacity: 0.45;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
	filter: alpha(opacity=45);
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 60px;
	left: 1155px;
}

#u7901-4popup
{
	z-index: 137;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u7933-4
{
	z-index: 94;
	width: 768px;
	min-height: 42px;
	background-color: #7F7F7F;
	color: #FFFFFF;
	line-height: 43px;
	font-size: 36px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 192px;
}

#menuu7904
{
	z-index: 142;
	width: 402px;
	position: fixed;
	top: -36px;
	left: 532px;
}

#u7905
{
	width: 99px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
}

#u7906
{
	width: 99px;
	background-color: #3F3F3F;
	padding-bottom: 20px;
	position: relative;
}

#u7906:hover
{
	background-color: #F9C67A;
	margin: 0px;
}

#u7909
{
	height: 14px;
	width: 99px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	background: url("../images/u7909.png") no-repeat 0px 0px;
}

#u7906.MuseMenuActive #u7909
{
	background: url("../images/u7909-a.png") no-repeat 0px 0px;
}

#u7919
{
	width: 99px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 101px;
}

#u7920
{
	width: 99px;
	background-color: #3F3F3F;
	padding-bottom: 20px;
	position: relative;
}

#u7920:hover
{
	background-color: #F9C67A;
	margin: 0px;
}

#u7923
{
	height: 14px;
	width: 99px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	background: url("../images/u7923.png") no-repeat 0px 0px;
}

#u7920.MuseMenuActive #u7923
{
	background: url("../images/u7923-a.png") no-repeat 0px 0px;
}

#u7912
{
	width: 99px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 202px;
}

#u7913
{
	width: 99px;
	background-color: #3F3F3F;
	padding-bottom: 20px;
	position: relative;
}

#u7913:hover
{
	background-color: #F9C67A;
	margin: 0px;
}

#u7914
{
	height: 14px;
	width: 99px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	background: url("../images/u7914.png") no-repeat 0px 0px;
}

#u7913.MuseMenuActive #u7914
{
	background: url("../images/u7914-a.png") no-repeat 0px 0px;
}

#u7926
{
	width: 99px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 303px;
}

#u7929
{
	width: 99px;
	background-color: #3F3F3F;
	padding-bottom: 20px;
	position: relative;
}

#u7929:hover
{
	background-color: #F9C67A;
	margin: 0px;
}

#u7906:active,#u7920:active,#u7913:active,#u7929:active
{
	background-color: #F99C18;
	margin: 0px;
}

#u7930
{
	height: 14px;
	width: 99px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	background: url("../images/u7930.png") no-repeat 0px 0px;
}

#u7929.MuseMenuActive #u7930
{
	background: url("../images/u7930-a.png") no-repeat 0px 0px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.MenuItem /* slideshowFreeStyle */
{
	cursor: pointer;
}

#pu4738
{
	width: 0.01px;
	margin-bottom: -36px;
	margin-right: -10000px;
	margin-top: 736px;
}

#u4738
{
	z-index: 85;
	width: 960px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u4739-4
{
	z-index: 86;
	width: 314px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 21px;
}

#u4740-4
{
	z-index: 90;
	width: 293px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 333px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -736px;
}

