.version.wcouple_01 /* version checker */
{
	color: #000011;
	background-color: #D05055;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	margin-left: auto;
	margin-right: auto;
}

#u5883
{
	z-index: 165;
	height: 34px;
	border-color: #000000;
	background-color: #3F3F3F;
}

#u5883-bw
{
	z-index: 165;
	position: fixed;
	left: 0px;
	right: 0px;
	top: -36px;
}

#accordionu2186
{
	z-index: 2;
	width: 183px;
	margin-right: -10000px;
	margin-top: 20px;
}

#u2205
{
	z-index: 3;
	width: 183px;
}

#u2206-4
{
	z-index: 4;
	width: 171px;
	min-height: 18px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u2206-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	width: 171px;
	margin: 0px;
}

#u2206-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	width: 171px;
	margin: 0px;
}

#u2207
{
	z-index: 8;
	width: 113px;
	padding: 9px 26px 10.150000000000006px 42px;
}

#u2209-4
{
	z-index: 9;
	width: 113px;
	min-height: 19px;
}

#u2208-4
{
	z-index: 13;
	width: 113px;
	min-height: 19px;
	margin-top: 6px;
}

#u2200
{
	z-index: 17;
	width: 183px;
}

#u2201-4
{
	z-index: 18;
	width: 171px;
	min-height: 18px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u2206-4.AccordionPanelTabOpen,#u2201-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	width: 171px;
	margin: 0px;
}

#u2201-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	width: 171px;
	margin: 0px;
}

#u2202
{
	z-index: 22;
	width: 113px;
	padding: 7px 26px 7.150000000000091px 42px;
}

#u2204-4
{
	z-index: 23;
	width: 113px;
	min-height: 19px;
}

#u2203-4
{
	z-index: 27;
	width: 113px;
	min-height: 19px;
	margin-top: 6px;
}

#u2210
{
	z-index: 31;
	width: 183px;
}

#u2211-4
{
	z-index: 32;
	width: 171px;
	min-height: 18px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u2201-4.AccordionPanelTabOpen,#u2211-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	width: 171px;
	margin: 0px;
}

#u2211-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	width: 171px;
	margin: 0px;
}

#u2212
{
	z-index: 36;
	width: 113px;
	padding: 6px 26px 0px 42px;
}

#u2213-4
{
	z-index: 37;
	width: 113px;
	min-height: 19px;
}

#u2214-4
{
	z-index: 41;
	width: 113px;
	min-height: 19px;
	margin-top: 6px;
}

#u2208-4.MuseLinkActive,#u2203-4.MuseLinkActive,#u2214-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 6px 0px 0px;
}

#u2187
{
	z-index: 45;
	width: 183px;
}

#u2188-4
{
	z-index: 46;
	width: 171px;
	min-height: 18px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u2211-4.AccordionPanelTabOpen,#u2188-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	width: 171px;
	margin: 0px;
}

#u2188-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	width: 171px;
	margin: 0px;
}

#u2189
{
	z-index: 50;
	width: 113px;
	padding: 5px 26px 1px 42px;
}

#u2191-4
{
	z-index: 51;
	width: 113px;
	min-height: 19px;
}

#u2192-4
{
	z-index: 55;
	width: 113px;
	min-height: 19px;
	margin-top: 1px;
}

#u2190-4
{
	z-index: 59;
	width: 113px;
	min-height: 19px;
}

#u2193-4
{
	z-index: 63;
	width: 113px;
	min-height: 19px;
	top: -1px;
	margin-bottom: -1px;
}

#u2193-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px 0px -1px;
}

#u2194
{
	z-index: 67;
	width: 183px;
}

#u2195-4
{
	z-index: 68;
	width: 171px;
	min-height: 18px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u2188-4.AccordionPanelTabOpen,#u2195-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	width: 171px;
	margin: 0px;
}

#u2195-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	width: 171px;
	margin: 0px;
}

#u2195-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	width: 171px;
	margin: 0px;
}

#u2196
{
	z-index: 72;
	width: 113px;
	padding: 5px 26px 8.350000000000051px 42px;
}

#u2197-4
{
	z-index: 73;
	width: 113px;
	min-height: 19px;
}

#u2199-4
{
	z-index: 77;
	width: 113px;
	min-height: 19px;
}

#u2209-4.MuseLinkActive,#u2204-4.MuseLinkActive,#u2213-4.MuseLinkActive,#u2191-4.MuseLinkActive,#u2190-4.MuseLinkActive,#u2197-4.MuseLinkActive,#u2199-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px;
}

#u2198-4
{
	z-index: 81;
	width: 113px;
	min-height: 19px;
	margin-top: 1px;
}

#u2192-4.MuseLinkActive,#u2198-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 1px 0px 0px;
}

#pu4697-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 20px;
	margin-left: 192px;
}

#u4697-4
{
	z-index: 94;
	width: 768px;
	min-height: 42px;
	background-color: #7F7F7F;
	color: #FFFFFF;
	line-height: 43px;
	font-size: 36px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 700;
	position: relative;
}

#slideshowu2292
{
	z-index: 98;
	width: 0.01px;
	height: 782px;
	margin-left: 2px;
	margin-top: 47px;
	position: relative;
}

#u2311
{
	position: absolute;
	width: 613px;
	height: 588px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0, 0, 0, 0.9);
	top: -435px;
	left: 838px;
	-pie-background: rgba(0, 0, 0, 0.9);
}

#u2311popup
{
	z-index: 99;
}

#u2316
{
	z-index: 100;
	width: 569px;
	height: 526px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2316_img
{
	margin: -12px 120px 41px 121px;
}

#u3369
{
	z-index: 102;
	width: 569px;
	height: 526px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u3369_img
{
	padding: 83px 16px 83px 17px;
}

#u3381
{
	z-index: 104;
	width: 569px;
	height: 526px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u3381_img
{
	padding: 84px 2px 83px;
}

#u3393
{
	z-index: 106;
	width: 569px;
	height: 526px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u3393_img
{
	padding-left: 63px;
	padding-right: 62px;
}

#u4354
{
	z-index: 108;
	width: 569px;
	height: 526px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4366
{
	z-index: 110;
	width: 569px;
	height: 526px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4366_img
{
	padding-top: 74px;
	padding-bottom: 73px;
}

#u4402
{
	z-index: 112;
	width: 569px;
	height: 526px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4378
{
	z-index: 114;
	width: 569px;
	height: 526px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4378_img
{
	padding-top: 69px;
	padding-bottom: 69px;
}

#u3417
{
	z-index: 116;
	width: 569px;
	height: 526px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u3417_img
{
	padding-left: 45px;
	padding-right: 44px;
}

#u4414
{
	z-index: 118;
	width: 569px;
	height: 526px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4402_img,#u4414_img
{
	padding-left: 109px;
	padding-right: 109px;
}

#u4390
{
	z-index: 120;
	width: 569px;
	height: 526px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u3405
{
	z-index: 122;
	width: 569px;
	height: 526px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2316_clip,#u3405_clip
{
	overflow: hidden;
	width: 569px;
	height: 526px;
}

#u3405_img
{
	margin: -22px 105px 22px;
}

#u3429
{
	z-index: 124;
	width: 569px;
	height: 526px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u3429_img
{
	padding-left: 30px;
	padding-right: 59px;
}

#u4426
{
	z-index: 126;
	width: 569px;
	height: 526px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4354_img,#u4390_img,#u4426_img
{
	padding-top: 73px;
	padding-bottom: 74px;
}

#u2301
{
	position: absolute;
	width: 698px;
	left: 26px;
}

#u2301popup
{
	z-index: 128;
}

#u2302
{
	z-index: 129;
	width: 167px;
	height: 188px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3372
{
	z-index: 131;
	width: 167px;
	height: 188px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 177px;
}

#u3384
{
	z-index: 133;
	width: 167px;
	height: 188px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 354px;
}

#u3396
{
	z-index: 135;
	width: 167px;
	height: 188px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 531px;
}

#u2302:hover,#u3372:hover,#u3384:hover,#u3396:hover
{
	margin: 0px -10000px 0px 0px;
}

#u4357
{
	z-index: 137;
	width: 167px;
	height: 188px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 198px;
}

#u4369
{
	z-index: 139;
	width: 167px;
	height: 188px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 198px;
	left: 177px;
}

#u4405
{
	z-index: 141;
	width: 167px;
	height: 188px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 198px;
	left: 354px;
}

#u4381
{
	z-index: 143;
	width: 167px;
	height: 188px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 198px;
	left: 531px;
}

#u4357:hover,#u4369:hover,#u4405:hover,#u4381:hover
{
	margin: 198px -10000px 0px 0px;
}

#u4381_img
{
	padding-top: 37px;
	padding-bottom: 37px;
}

#u3420
{
	z-index: 145;
	width: 167px;
	height: 188px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 396px;
}

#u4417
{
	z-index: 147;
	width: 167px;
	height: 188px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 396px;
	left: 177px;
}

#u4405_img,#u4417_img
{
	padding-left: 21px;
	padding-right: 21px;
}

#u4393
{
	z-index: 149;
	width: 167px;
	height: 188px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 396px;
	left: 354px;
}

#u3408
{
	z-index: 151;
	width: 167px;
	height: 188px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 396px;
	left: 531px;
}

#u3420:hover,#u4417:hover,#u4393:hover,#u3408:hover
{
	margin: 396px -10000px 0px 0px;
}

#u3432
{
	z-index: 153;
	width: 167px;
	height: 188px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 594px;
}

#u4429
{
	z-index: 155;
	width: 167px;
	height: 188px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 594px;
	left: 177px;
}

#u3432:hover,#u4429:hover
{
	margin: 594px -10000px 0px 0px;
}

#u4357_img,#u4369_img,#u4393_img,#u4429_img
{
	padding-top: 38px;
	padding-bottom: 39px;
}

#u2299-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: #7F7F7F;
	opacity: 0.45;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
	filter: alpha(opacity=45);
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 123px;
	left: 1104px;
}

#u2299-4popup
{
	z-index: 157;
}

#u2308-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: #7F7F7F;
	opacity: 0.45;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
	filter: alpha(opacity=45);
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 123px;
	left: 1155px;
}

#u2308-4popup
{
	z-index: 161;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#menuu5884
{
	z-index: 166;
	width: 402px;
	position: fixed;
	top: -36px;
	left: 532px;
}

#u5899
{
	width: 99px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
}

#u5900
{
	width: 99px;
	background-color: #3F3F3F;
	padding-bottom: 20px;
	position: relative;
}

#u5900:hover
{
	background-color: #F9C67A;
	margin: 0px;
}

#u5902
{
	height: 14px;
	width: 99px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	background: url("../images/u5902.png") no-repeat 0px 0px;
}

#u5900.MuseMenuActive #u5902
{
	background: url("../images/u5902-a.png") no-repeat 0px 0px;
}

#u5885
{
	width: 99px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 101px;
}

#u5888
{
	width: 99px;
	background-color: #3F3F3F;
	padding-bottom: 20px;
	position: relative;
}

#u5888:hover
{
	background-color: #F9C67A;
	margin: 0px;
}

#u5891
{
	height: 14px;
	width: 99px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	background: url("../images/u5891.png") no-repeat 0px 0px;
}

#u5888.MuseMenuActive #u5891
{
	background: url("../images/u5891-a.png") no-repeat 0px 0px;
}

#u5892
{
	width: 99px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 202px;
}

#u5895
{
	width: 99px;
	background-color: #3F3F3F;
	padding-bottom: 20px;
	position: relative;
}

#u5895:hover
{
	background-color: #F9C67A;
	margin: 0px;
}

#u5897
{
	height: 14px;
	width: 99px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	background: url("../images/u5897.png") no-repeat 0px 0px;
}

#u5895.MuseMenuActive #u5897
{
	background: url("../images/u5897-a.png") no-repeat 0px 0px;
}

#u5906
{
	width: 99px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 303px;
}

#u5909
{
	width: 99px;
	background-color: #3F3F3F;
	padding-bottom: 20px;
	position: relative;
}

#u5909:hover
{
	background-color: #F9C67A;
	margin: 0px;
}

#u5900:active,#u5888:active,#u5895:active,#u5909:active
{
	background-color: #F99C18;
	margin: 0px;
}

#u5910
{
	height: 14px;
	width: 99px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	background: url("../images/u5910.png") no-repeat 0px 0px;
}

#u5909.MuseMenuActive #u5910
{
	background: url("../images/u5910-a.png") no-repeat 0px 0px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.MenuItem /* slideshowFreeStyle */
{
	cursor: pointer;
}

#pu4738
{
	width: 0.01px;
	margin-bottom: -36px;
	margin-right: -10000px;
	margin-top: 936px;
}

#u4738
{
	z-index: 85;
	width: 960px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u4739-4
{
	z-index: 86;
	width: 314px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 21px;
}

#u4740-4
{
	z-index: 90;
	width: 293px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 333px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -935px;
}

