.version.weddings /* version checker */
{
	color: #000019;
	background-color: #FFDD5B;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	margin-left: auto;
	margin-right: auto;
}

#accordionu2186
{
	z-index: 2;
	width: 183px;
	margin-right: -10000px;
	margin-top: 20px;
}

#u2205
{
	z-index: 3;
	width: 183px;
}

#u2206-4
{
	z-index: 4;
	width: 171px;
	min-height: 18px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u2206-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	width: 171px;
	margin: 0px;
}

#u2206-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	width: 171px;
	margin: 0px;
}

#u2207
{
	z-index: 8;
	width: 113px;
	padding: 9px 26px 10.150000000000006px 42px;
}

#u2209-4
{
	z-index: 9;
	width: 113px;
	min-height: 19px;
}

#u2208-4
{
	z-index: 13;
	width: 113px;
	min-height: 19px;
	margin-top: 6px;
}

#u2200
{
	z-index: 17;
	width: 183px;
}

#u2201-4
{
	z-index: 18;
	width: 171px;
	min-height: 18px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u2206-4.AccordionPanelTabOpen,#u2201-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	width: 171px;
	margin: 0px;
}

#u2201-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	width: 171px;
	margin: 0px;
}

#u2202
{
	z-index: 22;
	width: 113px;
	padding: 7px 26px 7.150000000000091px 42px;
}

#u2204-4
{
	z-index: 23;
	width: 113px;
	min-height: 19px;
}

#u2203-4
{
	z-index: 27;
	width: 113px;
	min-height: 19px;
	margin-top: 6px;
}

#u2210
{
	z-index: 31;
	width: 183px;
}

#u2211-4
{
	z-index: 32;
	width: 171px;
	min-height: 18px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u2201-4.AccordionPanelTabOpen,#u2211-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	width: 171px;
	margin: 0px;
}

#u2211-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	width: 171px;
	margin: 0px;
}

#u2212
{
	z-index: 36;
	width: 113px;
	padding: 6px 26px 0px 42px;
}

#u2213-4
{
	z-index: 37;
	width: 113px;
	min-height: 19px;
}

#u2214-4
{
	z-index: 41;
	width: 113px;
	min-height: 19px;
	margin-top: 6px;
}

#u2208-4.MuseLinkActive,#u2203-4.MuseLinkActive,#u2214-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 6px 0px 0px;
}

#u2187
{
	z-index: 45;
	width: 183px;
}

#u2188-4
{
	z-index: 46;
	width: 171px;
	min-height: 18px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u2211-4.AccordionPanelTabOpen,#u2188-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	width: 171px;
	margin: 0px;
}

#u2188-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	width: 171px;
	margin: 0px;
}

#u2189
{
	z-index: 50;
	width: 113px;
	padding: 5px 26px 1px 42px;
}

#u2191-4
{
	z-index: 51;
	width: 113px;
	min-height: 19px;
}

#u2192-4
{
	z-index: 55;
	width: 113px;
	min-height: 19px;
	margin-top: 1px;
}

#u2190-4
{
	z-index: 59;
	width: 113px;
	min-height: 19px;
}

#u2193-4
{
	z-index: 63;
	width: 113px;
	min-height: 19px;
	top: -1px;
	margin-bottom: -1px;
}

#u2193-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px 0px -1px;
}

#u2194
{
	z-index: 67;
	width: 183px;
}

#u2195-4
{
	z-index: 68;
	width: 171px;
	min-height: 18px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u2188-4.AccordionPanelTabOpen,#u2195-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	width: 171px;
	margin: 0px;
}

#u2195-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	width: 171px;
	margin: 0px;
}

#u2195-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 18px;
	width: 171px;
	margin: 0px;
}

#u2196
{
	z-index: 72;
	width: 113px;
	padding: 5px 26px 8.350000000000051px 42px;
}

#u2197-4
{
	z-index: 73;
	width: 113px;
	min-height: 19px;
}

#u2199-4
{
	z-index: 77;
	width: 113px;
	min-height: 19px;
}

#u2209-4.MuseLinkActive,#u2204-4.MuseLinkActive,#u2213-4.MuseLinkActive,#u2191-4.MuseLinkActive,#u2190-4.MuseLinkActive,#u2197-4.MuseLinkActive,#u2199-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px;
}

#u2198-4
{
	z-index: 81;
	width: 113px;
	min-height: 19px;
	margin-top: 1px;
}

#u2192-4.MuseLinkActive,#u2198-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 1px 0px 0px;
}

#pu4738
{
	width: 0.01px;
	margin-bottom: -36px;
	margin-right: -10000px;
	margin-top: 482px;
}

#u4738
{
	z-index: 85;
	width: 960px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u4739-4
{
	z-index: 86;
	width: 314px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 21px;
}

#u4740-4
{
	z-index: 90;
	width: 293px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 333px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -482px;
}

